# Data Cleaning & Data Preprocessing

A quick reference notebook for data cleaning and data preprocessing steps with code examples.

## üìíTable of Contents

1. [Imports](#imports)
2. [Inspect Data](#Inspect-Data)
3. [Handle Missing Data](#Handle-Missing-Data)
4. [Fix Column Names](#Fix-Column-Names)
5. [Handle Duplicates](#Handle-Duplicates)
6.  [Convert Data Types](#Convert-Data-Types)
7.  [Handle Categorical Data](#Handle-Categorical-Data)
8.  [Text Cleaning](#Text-Cleaning)
9.  [Sort Data](#Sort-Data)
10. [Filter Data (Row Selection)](#Filter-Data-Row-Selection)
11. [Select Columns](#Select-Columns)
12. [Replace/Modify Values](#Replace-Modify-Values)
13. [Grouping & Aggregation](#Grouping-Aggregation)
14. [Index Operations](#Index-Operations)
15. [Save / Export Cleaned Data](#Save-Export-Cleaned-Data)
16. [Summary](#Summary)

<a id="imports"></a>
## 1Ô∏è‚É£ Imports

In [1]:
import pandas as pd 
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns 

import warnings
warnings.filterwarnings('ignore')

In [2]:
df=pd.read_csv("data/obesity_dataset.csv")

<a id="Inspect-Data"></a>
## 2Ô∏è‚É£Inspect Data

In [3]:
# first 5 rows
df.head()

,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.80,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [4]:
# last 5 rows
df.tail()

,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad
2106,Female,20.976842,1.710730,131.408528,yes,yes,3.0,3.0,Sometimes,no,1.728139,no,1.676269,0.906247,Sometimes,Public_Transportation,Obesity_Type_III
2107,Female,21.982942,1.748584,133.742943,yes,yes,3.0,3.0,Sometimes,no,2.005130,no,1.341390,0.599270,Sometimes,Public_Transportation,Obesity_Type_III
2108,Female,22.524036,1.752206,133.689352,yes,yes,3.0,3.0,Sometimes,no,2.054193,no,1.414209,0.646288,Sometimes,Public_Transportation,Obesity_Type_III
2109,Female,24.361936,1.739450,133.346641,yes,yes,3.0,3.0,Sometimes,no,2.852339,no,1.139107,0.586035,Sometimes,Public_Transportation,Obesity_Type_III
2110,Female,23.664709,1.738836,133.472641,yes,yes,3.0,3.0,Sometimes,no,2.863513,no,1.026452,0.714137,Sometimes,Public_Transportation,Obesity_Type_III

In [5]:
# rows and columns
df.shape

(2111, 17)

In [6]:
# column types + missing values
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2111 entries, 0 to 2110
Data columns (total 17 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Gender                          2111 non-null   object
 1   Age                             2111 non-null   float64
 2   Height                          2111 non-null   float64
 3   Weight                          2111 non-null   float64
 4   family_history_with_overweight  2111 non-null   object
 5   FAVC                            2111 non-null   object
 6   FCVC                            2111 non-null   float64
 7   NCP                             2111 non-null   float64
 8   CAEC                            2111 non-null   object
 9   SMOKE                           2111 non-null   object
 10  CH2O                            2111 non-null   float64
 11  SCC                             2111 non-null   object
 12  FAF                             2111 non-null   float64
 13  TUE                             2111 non-null   float64
 14  CALC                            2111 non-null   object
 15  MTRANS                          2111 non-null   object
 16  NObeyesdad                      2111 non-null   object
dtypes: float64(8), object(9)
memory usage: 280.5+ KB

In [7]:
# summary stats (numerical columns)
df.describe()

,Age,Height,Weight,FCVC,NCP,CH2O,FAF,TUE
count,2111.000000,2111.000000,2111.000000,2111.000000,2111.000000,2111.000000,2111.000000,2111.000000
mean,24.312600,1.701677,86.586058,2.419043,2.685628,2.008011,1.010298,0.657866
std,6.345968,0.093305,26.191172,0.533927,0.778039,0.612953,0.850592,0.608927
min,14.000000,1.450000,39.000000,1.000000,1.000000,1.000000,0.000000,0.000000
25%,19.947192,1.630000,65.473343,2.000000,2.658738,1.584812,0.124505,0.000000
50%,22.777890,1.700499,83.000000,2.385502,3.000000,2.000000,1.000000,0.625350
75%,26.000000,1.768464,107.430682,3.000000,3.000000,2.477420,1.666678,1.000000
max,61.000000,1.980000,173.000000,3.000000,4.000000,3.000000,3.000000,2.000000

In [8]:
 # list of column names
df.columns

Index(['Gender', 'Age', 'Height', 'Weight', 'family_history_with_overweight',
       'FAVC', 'FCVC', 'NCP', 'CAEC', 'SMOKE', 'CH2O', 'SCC', 'FAF', 'TUE',
       'CALC', 'MTRANS', 'NObeyesdad'],
      dtype='object')

In [9]:
# data types
df.dtypes

Gender                             object
Age                               float64
Height                            float64
Weight                            float64
family_history_with_overweight     object
FAVC                               object
FCVC                              float64
NCP                               float64
CAEC                               object
SMOKE                              object
CH2O                              float64
SCC                                object
FAF                               float64
TUE                               float64
CALC                               object
MTRANS                             object
NObeyesdad                         object
dtype: object

In [10]:
# View unique values
df['NObeyesdad'].unique()

array(['Normal_Weight', 'Overweight_Level_I', 'Overweight_Level_II',
       'Obesity_Type_I', 'Insufficient_Weight', 'Obesity_Type_II',
       'Obesity_Type_III'], dtype=object)

In [11]:
# Count categories
df['NObeyesdad'].value_counts()

NObeyesdad
Obesity_Type_I         351
Obesity_Type_III       324
Obesity_Type_II        297
Overweight_Level_I     290
Overweight_Level_II    290
Normal_Weight          287
Insufficient_Weight    272
Name: count, dtype: int64

<a id="Handle-Missing-Data"></a>
## 3Ô∏è‚É£ Handle Missing Data

In [12]:
# count missing values per column
df.isnull().sum()

Gender                            0
Age                               0
Height                            0
Weight                            0
family_history_with_overweight    0
FAVC                              0
FCVC                              0
NCP                               0
CAEC                              0
SMOKE                             0
CH2O                              0
SCC                               0
FAF                               0
TUE                               0
CALC                              0
MTRANS                            0
NObeyesdad                        0
dtype: int64

In [13]:
# count non-missing
df.notnull().sum()

Gender                            2111
Age                               2111
Height                            2111
Weight                            2111
family_history_with_overweight    2111
FAVC                              2111
FCVC                              2111
NCP                               2111
CAEC                              2111
SMOKE                             2111
CH2O                              2111
SCC                               2111
FAF                               2111
TUE                               2111
CALC                              2111
MTRANS                            2111
NObeyesdad                        2111
dtype: int64

In [14]:
# drop rows with any missing values
df.dropna()

,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad
0,Female,21.000000,1.620000,64.000000,yes,no,2.0,3.0,Sometimes,no,2.000000,no,0.000000,1.000000,no,Public_Transportation,Normal_Weight
1,Female,21.000000,1.520000,56.000000,yes,no,3.0,3.0,Sometimes,yes,3.000000,yes,3.000000,0.000000,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.000000,1.800000,77.000000,yes,no,2.0,3.0,Sometimes,no,2.000000,no,2.000000,1.000000,Frequently,Public_Transportation,Normal_Weight
3,Male,27.000000,1.800000,87.000000,no,no,3.0,3.0,Sometimes,no,2.000000,no,2.000000,0.000000,Frequently,Walking,Overweight_Level_I
4,Male,22.000000,1.780000,89.800000,no,no,2.0,1.0,Sometimes,no,2.000000,no,0.000000,0.000000,Sometimes,Public_Transportation,Overweight_Level_II
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2106,Female,20.976842,1.710730,131.408528,yes,yes,3.0,3.0,Sometimes,no,1.728139,no,1.676269,0.906247,Sometimes,Public_Transportation,Obesity_Type_III
2107,Female,21.982942,1.748584,133.742943,yes,yes,3.0,3.0,Sometimes,no,2.005130,no,1.341390,0.599270,Sometimes,Public_Transportation,Obesity_Type_III
2108,Female,22.524036,1.752206,133.689352,yes,yes,3.0,3.0,Sometimes,no,2.054193,no,1.414209,0.646288,Sometimes,Public_Transportation,Obesity_Type_III
2109,Female,24.361936,1.739450,133.346641,yes,yes,3.0,3.0,Sometimes,no,2.852339,no,1.139107,0.586035,Sometimes,Public_Transportation,Obesity_Type_III
2110,Female,23.664709,1.738836,133.472641,yes,yes,3.0,3.0,Sometimes,no,2.863513,no,1.026452,0.714137,Sometimes,Public_Transportation,Obesity_Type_III

In [15]:
 # drop rows only if these columns have missing values
df.dropna(subset=['Gender', 'Age'])

,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad
0,Female,21.000000,1.620000,64.000000,yes,no,2.0,3.0,Sometimes,no,2.000000,no,0.000000,1.000000,no,Public_Transportation,Normal_Weight
1,Female,21.000000,1.520000,56.000000,yes,no,3.0,3.0,Sometimes,yes,3.000000,yes,3.000000,0.000000,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.000000,1.800000,77.000000,yes,no,2.0,3.0,Sometimes,no,2.000000,no,2.000000,1.000000,Frequently,Public_Transportation,Normal_Weight
3,Male,27.000000,1.800000,87.000000,no,no,3.0,3.0,Sometimes,no,2.000000,no,2.000000,0.000000,Frequently,Walking,Overweight_Level_I
4,Male,22.000000,1.780000,89.800000,no,no,2.0,1.0,Sometimes,no,2.000000,no,0.000000,0.000000,Sometimes,Public_Transportation,Overweight_Level_II
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2106,Female,20.976842,1.710730,131.408528,yes,yes,3.0,3.0,Sometimes,no,1.728139,no,1.676269,0.906247,Sometimes,Public_Transportation,Obesity_Type_III
2107,Female,21.982942,1.748584,133.742943,yes,yes,3.0,3.0,Sometimes,no,2.005130,no,1.341390,0.599270,Sometimes,Public_Transportation,Obesity_Type_III
2108,Female,22.524036,1.752206,133.689352,yes,yes,3.0,3.0,Sometimes,no,2.054193,no,1.414209,0.646288,Sometimes,Public_Transportation,Obesity_Type_III
2109,Female,24.361936,1.739450,133.346641,yes,yes,3.0,3.0,Sometimes,no,2.852339,no,1.139107,0.586035,Sometimes,Public_Transportation,Obesity_Type_III
2110,Female,23.664709,1.738836,133.472641,yes,yes,3.0,3.0,Sometimes,no,2.863513,no,1.026452,0.714137,Sometimes,Public_Transportation,Obesity_Type_III

In [16]:
# replace all missing values with 0
df.fillna(0)

,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad
0,Female,21.000000,1.620000,64.000000,yes,no,2.0,3.0,Sometimes,no,2.000000,no,0.000000,1.000000,no,Public_Transportation,Normal_Weight
1,Female,21.000000,1.520000,56.000000,yes,no,3.0,3.0,Sometimes,yes,3.000000,yes,3.000000,0.000000,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.000000,1.800000,77.000000,yes,no,2.0,3.0,Sometimes,no,2.000000,no,2.000000,1.000000,Frequently,Public_Transportation,Normal_Weight
3,Male,27.000000,1.800000,87.000000,no,no,3.0,3.0,Sometimes,no,2.000000,no,2.000000,0.000000,Frequently,Walking,Overweight_Level_I
4,Male,22.000000,1.780000,89.800000,no,no,2.0,1.0,Sometimes,no,2.000000,no,0.000000,0.000000,Sometimes,Public_Transportation,Overweight_Level_II
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2106,Female,20.976842,1.710730,131.408528,yes,yes,3.0,3.0,Sometimes,no,1.728139,no,1.676269,0.906247,Sometimes,Public_Transportation,Obesity_Type_III
2107,Female,21.982942,1.748584,133.742943,yes,yes,3.0,3.0,Sometimes,no,2.005130,no,1.341390,0.599270,Sometimes,Public_Transportation,Obesity_Type_III
2108,Female,22.524036,1.752206,133.689352,yes,yes,3.0,3.0,Sometimes,no,2.054193,no,1.414209,0.646288,Sometimes,Public_Transportation,Obesity_Type_III
2109,Female,24.361936,1.739450,133.346641,yes,yes,3.0,3.0,Sometimes,no,2.852339,no,1.139107,0.586035,Sometimes,Public_Transportation,Obesity_Type_III
2110,Female,23.664709,1.738836,133.472641,yes,yes,3.0,3.0,Sometimes,no,2.863513,no,1.026452,0.714137,Sometimes,Public_Transportation,Obesity_Type_III

In [17]:
# column-specific fill
df['Age']=df['Age'].fillna(df['Age'].median())

<a id="Fix-Column-Names"></a>
## 4Ô∏è‚É£ Fix Column Names

In [18]:
# remove extra spaces
df.columns = df.columns.str.strip()

In [19]:
# to lowercase
df.columns = df.columns.str.lower()

In [20]:
# replace spaces with underscores
df.columns = df.columns.str.replace(' ', '_')

In [21]:
df.columns

Index(['gender', 'age', 'height', 'weight', 'family_history_with_overweight',
       'favc', 'fcvc', 'ncp', 'caec', 'smoke', 'ch2o', 'scc', 'faf', 'tue',
       'calc', 'mtrans', 'nobeyesdad'],
      dtype='object')

In [22]:
# rename columnn name
df.rename(columns={
    'gender': 'gender',
    'age': 'age',
    'height': 'height',
    'weight': 'weight',
    'family_history_with_overweight':'family_history',
    'favc':'high_caloric_food',
    'fcvc':'veggies_freq',
    'ncp':'main_meals_freq',
    'caec':'eat_between_meals',
    'smoke':'smoke',
    'ch2o':'water_l_per_day',
    'scc':'monitor_calories',
    'faf':'physical_activity_freq',
    'tue':'screen_time_hr',
    'calc':'alcohol_freq',
    'mtrans':'transport_mode',
    'nobeyesdad':'obesity_level'
}, inplace=True)
df.head()

,gender,age,height,weight,family_history,high_caloric_food,veggies_freq,main_meals_freq,eat_between_meals,smoke,water_l_per_day,monitor_calories,physical_activity_freq,screen_time_hr,alcohol_freq,transport_mode,obesity_level
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.80,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [23]:
# display the first 5 rows - to check for applied changes when needed
df.head()

,gender,age,height,weight,family_history,high_caloric_food,veggies_freq,main_meals_freq,eat_between_meals,smoke,water_l_per_day,monitor_calories,physical_activity_freq,screen_time_hr,alcohol_freq,transport_mode,obesity_level
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.80,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

<a id="Handle-Duplicates"></a>
## 5Ô∏è‚É£ Handle Duplicates

In [24]:
# count duplicates
df.duplicated().sum()

np.int64(24)

In [25]:
# Show duplicates
df[df.duplicated()]

,gender,age,height,weight,family_history,high_caloric_food,veggies_freq,main_meals_freq,eat_between_meals,smoke,water_l_per_day,monitor_calories,physical_activity_freq,screen_time_hr,alcohol_freq,transport_mode,obesity_level
98,Female,21.0,1.52,42.0,no,no,3.0,1.0,Frequently,no,1.0,no,0.0,0.0,Sometimes,Public_Transportation,Insufficient_Weight
106,Female,25.0,1.57,55.0,no,yes,2.0,1.0,Sometimes,no,2.0,no,2.0,0.0,Sometimes,Public_Transportation,Normal_Weight
174,Male,21.0,1.62,70.0,no,yes,2.0,1.0,no,no,3.0,no,1.0,0.0,Sometimes,Public_Transportation,Overweight_Level_I
179,Male,21.0,1.62,70.0,no,yes,2.0,1.0,no,no,3.0,no,1.0,0.0,Sometimes,Public_Transportation,Overweight_Level_I
184,Male,21.0,1.62,70.0,no,yes,2.0,1.0,no,no,3.0,no,1.0,0.0,Sometimes,Public_Transportation,Overweight_Level_I
209,Female,22.0,1.69,65.0,yes,yes,2.0,3.0,Sometimes,no,2.0,no,1.0,1.0,Sometimes,Public_Transportation,Normal_Weight
309,Female,16.0,1.66,58.0,no,no,2.0,1.0,Sometimes,no,1.0,no,0.0,1.0,no,Walking,Normal_Weight
460,Female,18.0,1.62,55.0,yes,yes,2.0,3.0,Frequently,no,1.0,no,1.0,1.0,no,Public_Transportation,Normal_Weight
467,Male,22.0,1.74,75.0,yes,yes,3.0,3.0,Frequently,no,1.0,no,1.0,0.0,no,Automobile,Normal_Weight
496,Male,18.0,1.72,53.0,yes,yes,2.0,3.0,Sometimes,no,2.0,no,0.0,2.0,Sometimes,Public_Transportation,Insufficient_Weight
527,Female,21.0,1.52,42.0,no,yes,3.0,1.0,Frequently,no,1.0,no,0.0,0.0,Sometimes,Public_Transportation,Insufficient_Weight
659,Female,21.0,1.52,42.0,no,yes,3.0,1.0,Frequently,no,1.0,no,0.0,0.0,Sometimes,Public_Transportation,Insufficient_Weight
663,Female,21.0,1.52,42.0,no,yes,3.0,1.0,Frequently,no,1.0,no,0.0,0.0,Sometimes,Public_Transportation,Insufficient_Weight
763,Male,21.0,1.62,70.0,no,yes,2.0,1.0,no,no,3.0,no,1.0,0.0,Sometimes,Public_Transportation,Overweight_Level_I
764,Male,21.0,1.62,70.0,no,yes,2.0,1.0,no,no,3.0,no,1.0,0.0,Sometimes,Public_Transportation,Overweight_Level_I
824,Male,21.0,1.62,70.0,no,yes,2.0,1.0,no,no,3.0,no,1.0,0.0,Sometimes,Public_Transportation,Overweight_Level_I
830,Male,21.0,1.62,70.0,no,yes,2.0,1.0,no,no,3.0,no,1.0,0.0,Sometimes,Public_Transportation,Overweight_Level_I
831,Male,21.0,1.62,70.0,no,yes,2.0,1.0,no,no,3.0,no,1.0,0.0,Sometimes,Public_Transportation,Overweight_Level_I
832,Male,21.0,1.62,70.0,no,yes,2.0,1.0,no,no,3.0,no,1.0,0.0,Sometimes,Public_Transportation,Overweight_Level_I
833,Male,21.0,1.62,70.0,no,yes,2.0,1.0,no,no,3.0,no,1.0,0.0,Sometimes,Public_Transportation,Overweight_Level_I
834,Male,21.0,1.62,70.0,no,yes,2.0,1.0,no,no,3.0,no,1.0,0.0,Sometimes,Public_Transportation,Overweight_Level_I
921,Male,21.0,1.62,70.0,no,yes,2.0,1.0,no,no,3.0,no,1.0,0.0,Sometimes,Public_Transportation,Overweight_Level_I
922,Male,21.0,1.62,70.0,no,yes,2.0,1.0,no,no,3.0,no,1.0,0.0,Sometimes,Public_Transportation,Overweight_Level_I
923,Male,21.0,1.62,70.0,no,yes,2.0,1.0,no,no,3.0,no,1.0,0.0,Sometimes,Public_Transportation,Overweight_Level_I

In [26]:
# remove the duplicates
df.drop_duplicates(inplace=True)

<a id="Convert-Data-Types"></a>
## 6Ô∏è‚É£ Convert Data Types

In [27]:
df['age'] = df['age'].astype(int)

In [28]:
df['height']=df['height'].astype(float)

<a id="Handle-Categorical-Data"></a>
## 7Ô∏è‚É£ Handle Categorical Data

In [29]:
# to find categorical columns 
df.select_dtypes(include='object')

,gender,family_history,high_caloric_food,eat_between_meals,smoke,monitor_calories,alcohol_freq,transport_mode,obesity_level
0,Female,yes,no,Sometimes,no,no,no,Public_Transportation,Normal_Weight
1,Female,yes,no,Sometimes,yes,yes,Sometimes,Public_Transportation,Normal_Weight
2,Male,yes,no,Sometimes,no,no,Frequently,Public_Transportation,Normal_Weight
3,Male,no,no,Sometimes,no,no,Frequently,Walking,Overweight_Level_I
4,Male,no,no,Sometimes,no,no,Sometimes,Public_Transportation,Overweight_Level_II
...,...,...,...,...,...,...,...,...,...
2106,Female,yes,yes,Sometimes,no,no,Sometimes,Public_Transportation,Obesity_Type_III
2107,Female,yes,yes,Sometimes,no,no,Sometimes,Public_Transportation,Obesity_Type_III
2108,Female,yes,yes,Sometimes,no,no,Sometimes,Public_Transportation,Obesity_Type_III
2109,Female,yes,yes,Sometimes,no,no,Sometimes,Public_Transportation,Obesity_Type_III
2110,Female,yes,yes,Sometimes,no,no,Sometimes,Public_Transportation,Obesity_Type_III

In [30]:
# Encode manually
df['gender'] = df['gender'].map({'Male': 0, 'Female': 1})
df.head()

,gender,age,height,weight,family_history,high_caloric_food,veggies_freq,main_meals_freq,eat_between_meals,smoke,water_l_per_day,monitor_calories,physical_activity_freq,screen_time_hr,alcohol_freq,transport_mode,obesity_level
0,1,21,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,1,21,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,0,23,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,0,27,1.80,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,0,22,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

<a id="Text-Cleaning"></a>
## 8Ô∏è‚É£ Text Cleaning

In [31]:
df['transport_mode'] = df['transport_mode'].str.lower().str.strip()
df.head()

,gender,age,height,weight,family_history,high_caloric_food,veggies_freq,main_meals_freq,eat_between_meals,smoke,water_l_per_day,monitor_calories,physical_activity_freq,screen_time_hr,alcohol_freq,transport_mode,obesity_level
0,1,21,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,public_transportation,Normal_Weight
1,1,21,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,public_transportation,Normal_Weight
2,0,23,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,public_transportation,Normal_Weight
3,0,27,1.80,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,walking,Overweight_Level_I
4,0,22,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,public_transportation,Overweight_Level_II

In [32]:
df['obesity_level'] = df['obesity_level'].str.replace('[^a-zA-Z ]', '', regex=True)
df.head()

,gender,age,height,weight,family_history,high_caloric_food,veggies_freq,main_meals_freq,eat_between_meals,smoke,water_l_per_day,monitor_calories,physical_activity_freq,screen_time_hr,alcohol_freq,transport_mode,obesity_level
0,1,21,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,public_transportation,NormalWeight
1,1,21,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,public_transportation,NormalWeight
2,0,23,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,public_transportation,NormalWeight
3,0,27,1.80,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,walking,OverweightLevelI
4,0,22,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,public_transportation,OverweightLevelII

<a id="Sort-Data"></a>
## 9Ô∏è‚É£ Sort Data

In [33]:
# Sort by one column
df.sort_values('weight', ascending=False,inplace=True)
df.head()

,gender,age,height,weight,family_history,high_caloric_food,veggies_freq,main_meals_freq,eat_between_meals,smoke,water_l_per_day,monitor_calories,physical_activity_freq,screen_time_hr,alcohol_freq,transport_mode,obesity_level
344,0,18,1.870000,173.000000,yes,yes,3.0,3.0,Frequently,no,2.000000,no,2.000000,1.000000,Sometimes,public_transportation,ObesityTypeIII
502,1,21,1.843419,165.057269,yes,yes,3.0,3.0,Sometimes,no,2.406541,no,0.100320,0.479221,Sometimes,public_transportation,ObesityTypeIII
1898,1,19,1.793824,160.935351,yes,yes,3.0,3.0,Sometimes,no,2.069257,no,1.986646,0.947091,Sometimes,public_transportation,ObesityTypeIII
1910,1,21,1.803677,160.639405,yes,yes,3.0,3.0,Sometimes,no,2.404049,no,0.427905,0.639894,Sometimes,public_transportation,ObesityTypeIII
1838,1,20,1.807340,155.872093,yes,yes,3.0,3.0,Sometimes,no,2.417122,no,0.952725,0.573958,Sometimes,public_transportation,ObesityTypeIII

In [34]:
# Sort by multiple columns
df.sort_values(['age', 'height'], ascending=[True, False])

,gender,age,height,weight,family_history,high_caloric_food,veggies_freq,main_meals_freq,eat_between_meals,smoke,water_l_per_day,monitor_calories,physical_activity_freq,screen_time_hr,alcohol_freq,transport_mode,obesity_level
415,0,14,1.710000,72.000000,yes,yes,3.000000,3.0,Sometimes,no,3.000000,no,2.000000,1.000000,no,walking,NormalWeight
116,1,15,1.650000,86.000000,yes,yes,3.000000,3.0,Sometimes,no,1.000000,no,3.000000,2.000000,no,walking,ObesityTypeI
302,0,16,1.840000,45.000000,yes,yes,3.000000,3.0,Always,no,3.000000,no,3.000000,2.000000,Sometimes,walking,InsufficientWeight
627,1,16,1.830068,43.534531,no,yes,2.945967,3.0,Sometimes,no,2.953192,no,2.830911,1.466667,Sometimes,public_transportation,InsufficientWeight
290,0,16,1.820000,71.000000,yes,yes,2.000000,3.0,Frequently,no,2.000000,no,2.000000,1.000000,Sometimes,public_transportation,NormalWeight
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1158,0,55,1.673394,80.400306,yes,yes,2.000000,3.0,Sometimes,no,2.000000,no,1.000000,0.000000,no,automobile,OverweightLevelII
1088,0,55,1.657221,80.993213,yes,yes,2.000000,3.0,Sometimes,no,2.000000,no,1.000000,0.000000,no,automobile,OverweightLevelII
161,0,55,1.650000,80.000000,no,yes,2.000000,3.0,Sometimes,no,2.000000,no,1.000000,0.000000,no,automobile,OverweightLevelII
252,0,56,1.790000,90.000000,yes,no,2.000000,3.0,Sometimes,yes,2.000000,no,1.000000,0.000000,Frequently,automobile,OverweightLevelII
133,1,61,1.650000,66.000000,no,yes,3.000000,3.0,Always,no,2.000000,no,1.000000,1.000000,Frequently,public_transportation,NormalWeight

In [35]:
# Sort by index
df.sort_index(inplace=True)
df.head()

,gender,age,height,weight,family_history,high_caloric_food,veggies_freq,main_meals_freq,eat_between_meals,smoke,water_l_per_day,monitor_calories,physical_activity_freq,screen_time_hr,alcohol_freq,transport_mode,obesity_level
0,1,21,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,public_transportation,NormalWeight
1,1,21,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,public_transportation,NormalWeight
2,0,23,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,public_transportation,NormalWeight
3,0,27,1.80,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,walking,OverweightLevelI
4,0,22,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,public_transportation,OverweightLevelII

<a id="Filter-Data-Row-Selection"></a>
## üîü Filter Data (Row Selection)

In [36]:
# Single condition
df[df['age'] > 50]

,gender,age,height,weight,family_history,high_caloric_food,veggies_freq,main_meals_freq,eat_between_meals,smoke,water_l_per_day,monitor_calories,physical_activity_freq,screen_time_hr,alcohol_freq,transport_mode,obesity_level
21,1,52,1.690000,87.000000,yes,yes,3.0,1.0,Sometimes,yes,2.0,no,0.0,0.0,no,automobile,ObesityTypeI
92,0,55,1.780000,84.000000,yes,no,3.0,4.0,Frequently,no,3.0,yes,3.0,0.0,Frequently,walking,OverweightLevelI
133,1,61,1.650000,66.000000,no,yes,3.0,3.0,Always,no,2.0,no,1.0,1.0,Frequently,public_transportation,NormalWeight
161,0,55,1.650000,80.000000,no,yes,2.0,3.0,Sometimes,no,2.0,no,1.0,0.0,no,automobile,OverweightLevelII
232,1,51,1.590000,50.000000,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,2.0,0.0,no,public_transportation,NormalWeight
252,0,56,1.790000,90.000000,yes,no,2.0,3.0,Sometimes,yes,2.0,no,1.0,0.0,Frequently,automobile,OverweightLevelII
1013,0,55,1.769269,80.491339,no,yes,2.0,3.0,Sometimes,no,2.0,no,1.0,0.0,no,automobile,OverweightLevelII
1088,0,55,1.657221,80.993213,yes,yes,2.0,3.0,Sometimes,no,2.0,no,1.0,0.0,no,automobile,OverweightLevelII
1158,0,55,1.673394,80.400306,yes,yes,2.0,3.0,Sometimes,no,2.0,no,1.0,0.0,no,automobile,OverweightLevelII

In [37]:
# Multiple conditions
df[(df['age'] > 50) & (df['weight'] > 65)]

,gender,age,height,weight,family_history,high_caloric_food,veggies_freq,main_meals_freq,eat_between_meals,smoke,water_l_per_day,monitor_calories,physical_activity_freq,screen_time_hr,alcohol_freq,transport_mode,obesity_level
21,1,52,1.690000,87.000000,yes,yes,3.0,1.0,Sometimes,yes,2.0,no,0.0,0.0,no,automobile,ObesityTypeI
92,0,55,1.780000,84.000000,yes,no,3.0,4.0,Frequently,no,3.0,yes,3.0,0.0,Frequently,walking,OverweightLevelI
133,1,61,1.650000,66.000000,no,yes,3.0,3.0,Always,no,2.0,no,1.0,1.0,Frequently,public_transportation,NormalWeight
161,0,55,1.650000,80.000000,no,yes,2.0,3.0,Sometimes,no,2.0,no,1.0,0.0,no,automobile,OverweightLevelII
252,0,56,1.790000,90.000000,yes,no,2.0,3.0,Sometimes,yes,2.0,no,1.0,0.0,Frequently,automobile,OverweightLevelII
1013,0,55,1.769269,80.491339,no,yes,2.0,3.0,Sometimes,no,2.0,no,1.0,0.0,no,automobile,OverweightLevelII
1088,0,55,1.657221,80.993213,yes,yes,2.0,3.0,Sometimes,no,2.0,no,1.0,0.0,no,automobile,OverweightLevelII
1158,0,55,1.673394,80.400306,yes,yes,2.0,3.0,Sometimes,no,2.0,no,1.0,0.0,no,automobile,OverweightLevelII

In [38]:
# Select by labels
df.loc[0:5, ['age', 'weight']]

   age  weight
0   21    64.0
1   21    56.0
2   23    77.0
3   27    87.0
4   22    89.8
5   29    53.0

In [39]:
 # Select by index
df.iloc[0:5, 0:3]

   gender  age  height
0       1   21    1.62
1       1   21    1.52
2       0   23    1.80
3       0   27    1.80
4       0   22    1.78

<a id="Select-Columns"></a>
## 1Ô∏è‚É£1Ô∏è‚É£ Select Columns

In [40]:
 # single column (Series)
df['height']

0       1.620000
1       1.520000
2       1.800000
3       1.800000
4       1.780000
          ...
2106    1.710730
2107    1.748584
2108    1.752206
2109    1.739450
2110    1.738836
Name: height, Length: 2087, dtype: float64

In [41]:
df[['age', 'weight']]

      age      weight
0      21   64.000000
1      21   56.000000
2      23   77.000000
3      27   87.000000
4      22   89.800000
...   ...         ...
2106   20  131.408528
2107   21  133.742943
2108   22  133.689352
2109   24  133.346641
2110   23  133.472641

[2087 rows x 2 columns]

In [42]:
df.select_dtypes(include='number')

,gender,age,height,weight,veggies_freq,main_meals_freq,water_l_per_day,physical_activity_freq,screen_time_hr
0,1,21,1.620000,64.000000,2.0,3.0,2.000000,0.000000,1.000000
1,1,21,1.520000,56.000000,3.0,3.0,3.000000,3.000000,0.000000
2,0,23,1.800000,77.000000,2.0,3.0,2.000000,2.000000,1.000000
3,0,27,1.800000,87.000000,3.0,3.0,2.000000,2.000000,0.000000
4,0,22,1.780000,89.800000,2.0,1.0,2.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...
2106,1,20,1.710730,131.408528,3.0,3.0,1.728139,1.676269,0.906247
2107,1,21,1.748584,133.742943,3.0,3.0,2.005130,1.341390,0.599270
2108,1,22,1.752206,133.689352,3.0,3.0,2.054193,1.414209,0.646288
2109,1,24,1.739450,133.346641,3.0,3.0,2.852339,1.139107,0.586035
2110,1,23,1.738836,133.472641,3.0,3.0,2.863513,1.026452,0.714137

In [43]:
df.select_dtypes(include='object')

,family_history,high_caloric_food,eat_between_meals,smoke,monitor_calories,alcohol_freq,transport_mode,obesity_level
0,yes,no,Sometimes,no,no,no,public_transportation,NormalWeight
1,yes,no,Sometimes,yes,yes,Sometimes,public_transportation,NormalWeight
2,yes,no,Sometimes,no,no,Frequently,public_transportation,NormalWeight
3,no,no,Sometimes,no,no,Frequently,walking,OverweightLevelI
4,no,no,Sometimes,no,no,Sometimes,public_transportation,OverweightLevelII
...,...,...,...,...,...,...,...,...
2106,yes,yes,Sometimes,no,no,Sometimes,public_transportation,ObesityTypeIII
2107,yes,yes,Sometimes,no,no,Sometimes,public_transportation,ObesityTypeIII
2108,yes,yes,Sometimes,no,no,Sometimes,public_transportation,ObesityTypeIII
2109,yes,yes,Sometimes,no,no,Sometimes,public_transportation,ObesityTypeIII
2110,yes,yes,Sometimes,no,no,Sometimes,public_transportation,ObesityTypeIII

In [44]:
df.filter(like='age')

      age
0      21
1      21
2      23
3      27
4      22
...   ...
2106   20
2107   21
2108   22
2109   24
2110   23

[2087 rows x 1 columns]

<a id="Replace-Modify-Values"></a>
## 1Ô∏è‚É£2Ô∏è‚É£ Replace/Modify Values

In [45]:
df.replace({'yes': 1, 'no': 0}, inplace=True)

In [46]:
df['smoke'] = df['smoke'].replace(0,np.nan)
df.head()

,gender,age,height,weight,family_history,high_caloric_food,veggies_freq,main_meals_freq,eat_between_meals,smoke,water_l_per_day,monitor_calories,physical_activity_freq,screen_time_hr,alcohol_freq,transport_mode,obesity_level
0,1,21,1.62,64.0,1,0,2.0,3.0,Sometimes,NaN,2.0,0,0.0,1.0,0,public_transportation,NormalWeight
1,1,21,1.52,56.0,1,0,3.0,3.0,Sometimes,1.0,3.0,1,3.0,0.0,Sometimes,public_transportation,NormalWeight
2,0,23,1.80,77.0,1,0,2.0,3.0,Sometimes,NaN,2.0,0,2.0,1.0,Frequently,public_transportation,NormalWeight
3,0,27,1.80,87.0,0,0,3.0,3.0,Sometimes,NaN,2.0,0,2.0,0.0,Frequently,walking,OverweightLevelI
4,0,22,1.78,89.8,0,0,2.0,1.0,Sometimes,NaN,2.0,0,0.0,0.0,Sometimes,public_transportation,OverweightLevelII

In [47]:
df.loc[df['weight'] > 40, 'nobeyesdad'] = 'obese'
df.head()

,gender,age,height,weight,family_history,high_caloric_food,veggies_freq,main_meals_freq,eat_between_meals,smoke,water_l_per_day,monitor_calories,physical_activity_freq,screen_time_hr,alcohol_freq,transport_mode,obesity_level,nobeyesdad
0,1,21,1.62,64.0,1,0,2.0,3.0,Sometimes,NaN,2.0,0,0.0,1.0,0,public_transportation,NormalWeight,obese
1,1,21,1.52,56.0,1,0,3.0,3.0,Sometimes,1.0,3.0,1,3.0,0.0,Sometimes,public_transportation,NormalWeight,obese
2,0,23,1.80,77.0,1,0,2.0,3.0,Sometimes,NaN,2.0,0,2.0,1.0,Frequently,public_transportation,NormalWeight,obese
3,0,27,1.80,87.0,0,0,3.0,3.0,Sometimes,NaN,2.0,0,2.0,0.0,Frequently,walking,OverweightLevelI,obese
4,0,22,1.78,89.8,0,0,2.0,1.0,Sometimes,NaN,2.0,0,0.0,0.0,Sometimes,public_transportation,OverweightLevelII,obese

<a id="Grouping-Aggregation"></a>
## 1Ô∏è‚É£3Ô∏è‚É£ Grouping & Aggregation

In [48]:
df.groupby('gender')['weight'].mean()

gender
0    91.096771
1    82.551078
Name: weight, dtype: float64

In [49]:
df.groupby('gender')[['age', 'weight']].agg(['mean', 'std', 'count'])

              age                     weight
             mean       std count       mean        std count
gender
0       24.340304  6.247829  1052  91.096771  21.396028  1052
1       23.672464  6.404481  1035  82.551078  29.693403  1035

<a id="Index-Operations"></a>
## 1Ô∏è‚É£4Ô∏è‚É£ Index Operations

In [50]:
df.index.name = 'id'
df.head()

,gender,age,height,weight,family_history,high_caloric_food,veggies_freq,main_meals_freq,eat_between_meals,smoke,water_l_per_day,monitor_calories,physical_activity_freq,screen_time_hr,alcohol_freq,transport_mode,obesity_level,nobeyesdad
id,,,,,,,,,,,,,,,,,,
0,1,21,1.62,64.0,1,0,2.0,3.0,Sometimes,NaN,2.0,0,0.0,1.0,0,public_transportation,NormalWeight,obese
1,1,21,1.52,56.0,1,0,3.0,3.0,Sometimes,1.0,3.0,1,3.0,0.0,Sometimes,public_transportation,NormalWeight,obese
2,0,23,1.80,77.0,1,0,2.0,3.0,Sometimes,NaN,2.0,0,2.0,1.0,Frequently,public_transportation,NormalWeight,obese
3,0,27,1.80,87.0,0,0,3.0,3.0,Sometimes,NaN,2.0,0,2.0,0.0,Frequently,walking,OverweightLevelI,obese
4,0,22,1.78,89.8,0,0,2.0,1.0,Sometimes,NaN,2.0,0,0.0,0.0,Sometimes,public_transportation,OverweightLevelII,obese

In [51]:
df.reset_index(inplace=True)
df.head()

,id,gender,age,height,weight,family_history,high_caloric_food,veggies_freq,main_meals_freq,eat_between_meals,smoke,water_l_per_day,monitor_calories,physical_activity_freq,screen_time_hr,alcohol_freq,transport_mode,obesity_level,nobeyesdad
0,0,1,21,1.62,64.0,1,0,2.0,3.0,Sometimes,NaN,2.0,0,0.0,1.0,0,public_transportation,NormalWeight,obese
1,1,1,21,1.52,56.0,1,0,3.0,3.0,Sometimes,1.0,3.0,1,3.0,0.0,Sometimes,public_transportation,NormalWeight,obese
2,2,0,23,1.80,77.0,1,0,2.0,3.0,Sometimes,NaN,2.0,0,2.0,1.0,Frequently,public_transportation,NormalWeight,obese
3,3,0,27,1.80,87.0,0,0,3.0,3.0,Sometimes,NaN,2.0,0,2.0,0.0,Frequently,walking,OverweightLevelI,obese
4,4,0,22,1.78,89.8,0,0,2.0,1.0,Sometimes,NaN,2.0,0,0.0,0.0,Sometimes,public_transportation,OverweightLevelII,obese

In [52]:
df.set_index('id', inplace=True)
df.head()

,gender,age,height,weight,family_history,high_caloric_food,veggies_freq,main_meals_freq,eat_between_meals,smoke,water_l_per_day,monitor_calories,physical_activity_freq,screen_time_hr,alcohol_freq,transport_mode,obesity_level,nobeyesdad
id,,,,,,,,,,,,,,,,,,
0,1,21,1.62,64.0,1,0,2.0,3.0,Sometimes,NaN,2.0,0,0.0,1.0,0,public_transportation,NormalWeight,obese
1,1,21,1.52,56.0,1,0,3.0,3.0,Sometimes,1.0,3.0,1,3.0,0.0,Sometimes,public_transportation,NormalWeight,obese
2,0,23,1.80,77.0,1,0,2.0,3.0,Sometimes,NaN,2.0,0,2.0,1.0,Frequently,public_transportation,NormalWeight,obese
3,0,27,1.80,87.0,0,0,3.0,3.0,Sometimes,NaN,2.0,0,2.0,0.0,Frequently,walking,OverweightLevelI,obese
4,0,22,1.78,89.8,0,0,2.0,1.0,Sometimes,NaN,2.0,0,0.0,0.0,Sometimes,public_transportation,OverweightLevelII,obese

<a id="Save-Export-Cleaned-Data"></a>
## 1Ô∏è‚É£5Ô∏è‚É£ Save / Export Cleaned Data

In [53]:
df.to_csv('data/cleaned_dataset.csv', index=False)

<a id="Summary"></a>
## 1Ô∏è‚É£6Ô∏è‚É£Summary

| No | Section | Purpose / When to Use | Key Commands / Examples |
|---|---------|---------------------|-----------------------|
| 1Ô∏è‚É£ | Imports | Load required libraries | `import pandas as pd`<br>`import numpy as np`<br>`import matplotlib.pyplot as plt`<br>`import seaborn as sns` |
| 2Ô∏è‚É£ | Inspect Data | Understand dataset structure & stats | `df.head()`<br>`df.tail()`<br>`df.info()`<br>`df.describe()`<br>`df.shape` |
| 3Ô∏è‚É£ | Handle Missing Data | Detect & fix missing values | `df.isna().sum()`<br>`df.dropna(inplace=True)`<br>`df['col'].fillna(df['col'].median(), inplace=True)` |
| 4Ô∏è‚É£ | Fix Column Names | Clean and standardize columns | `df.rename(columns={'Old':'New'}, inplace=True)`<br>`df.columns = df.columns.str.lower()` |
| 5Ô∏è‚É£ | Handle Duplicates | Remove duplicate rows | `df.drop_duplicates(inplace=True)` |
| 6Ô∏è‚É£ | Convert Data Types | Change column data types | `df['col'] = df['col'].astype(int)` |
| 7Ô∏è‚É£ | Handle Categorical Data | Encode categorical columns | `df['col'].map({'yes':1,'no':0})`<br>`pd.get_dummies(df, columns=['col'])` |
| 8Ô∏è‚É£ | Text Cleaning | Standardize text columns | `df['text_col'] = df['text_col'].str.lower().str.strip()` |
| 9Ô∏è‚É£ | Sort Data | Arrange rows in order | `df.sort_values(by='col', ascending=True, inplace=True)` |
| üîü | Filter Rows | Select specific rows | `df[df['age']>25]`<br>`df.query('age > 25 and gender=="female"')` |
| 1Ô∏è‚É£1Ô∏è‚É£ | Select Columns | Pick specific columns | `df[['col1','col2']]` |
| 1Ô∏è‚É£2Ô∏è‚É£ | Replace / Modify Values | Change or transform data | `df['col'].replace({'old':'new'}, inplace=True)`<br>`df['col'] = df['col'].apply(lambda x: x*2)` |
| 1Ô∏è‚É£3Ô∏è‚É£ | Grouping & Aggregation | Summarize data by groups | `df.groupby('category')['numeric'].mean()`<br>`df.groupby(['cat1','cat2']).agg({'num':'sum'})` |
| 1Ô∏è‚É£4Ô∏è‚É£ | Index Operations | Manage DataFrame index | `df.set_index('id', inplace=True)`<br>`df.reset_index(inplace=True)`<br>`df.index.name = 'id'` |
| 1Ô∏è‚É£5Ô∏è‚É£ | Save / Export Data | Save cleaned dataset | `df.to_csv("cleaned_data.csv", index=False)`<br>`df.to_excel("cleaned_data.xlsx", index=False)` |